body{
    background-image:url("R.jpg") ;
    background-repeat: no-repeat;
    
    
  }
  form{
    
    color:black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }
  .class{flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    

  }